.profile-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.profile-container header {
    display: flex;
    align-items: center;
}

.profile-container header span {
    font-size: 30px;
    margin-left: 20px;
}

.bottom {
    width: 25%;
    height: 35px;
    background: #1548;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
    padding-top: 5px;
    transition: filter 0.2s;
    
}

.bottom:hover {
    filter: brightness(90%);
}

.profile-container header a {
    width: 200px;
    margin-left: auto;
}

.profile-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce9;
    background: transparent;
    margin-left: 16px;
}

.profile-container header button:hover {
    border-color: #999
}

.profile-container h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.profile-container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 9px;
    position: relative;

}

.profile-container ul li h1 {
    
    position: absolute;
    right: 15px;
    top: 5px;
    color: #41414d;
}

.profile-container ul li h1:hover {
    opacity: 0.8
}

.profile-container ul li button {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.profile-container ul li buttom:hover {
    opacity: 0.8;
}

.profile-container ul li strong {
    display: block;
    margin-bottom: 15px;
    color: #41414d;
    font-size: 18px;
}

.profile-container ul li p + strong {
    margin-top: 32px;
}

.profile-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.ods {
    width: 75%;
    height: 35px;
    background: #1548;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
    padding-top: 5px;
    transition: filter 0.2s;
}
.ods:hover {
    filter: brightness(90%);
}